.form-bg{
    background-color:#B1DDEA;
    width: 90%;
    height: 90%;
    margin: auto;
}

.bg{
    height: 90%;
}




button{
    display: block;
    margin: auto;
    width: 80%;
    background-color: white;
    border-color: black;
    border-width: 1px;
    text-align: center;
    border-radius: 5px;;
}

label{
    padding-left: 20px;
}