<link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">


<h2>My thoughts</h2>
<button (click)="showForm()">New Thought </button>
<br>

<div class="list-container">
    <br>
    <app-post *ngFor ='let p of posts; let i = index' [post]="p" (deleted)="onDelete(i)">
  
    </app-post>
</div>

<div>
    <div id="postForm">
        <app-post-form 
        *ngIf="shouldShowForm"
        (submitted)="onSubmit($event)"
        (closed)="hideForm()"
        ></app-post-form>
    </div>

    <div class="box" [ngClass]="{'visible': shouldShowForm}" (click)="hideForm()">
    </div>  

</div>


